# Ignore macOS system files
.DS_Store

# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore IDE/Editor files
.idea/
.vscode/
